body {
	margin: 0;
	background: #D9C6A6;
	background-repeat: repeat-x;
	font-family: "DejaVu Sans","Lucida Sans","Verdana","Arial","sans-serif";
	font-size: 12px;
	color: #000000;
}

td, tr, p, div {
	margin: 0px;
	padding-bottom: 2px;
	font-family:"DejaVu Sans","Lucida Sans","Verdana","Arial","sans-serif";
	color: #000000;
	font-size: 12px;
	border-style: none;
	//border-spacing: 0;
}

table {
	//empty-cells: hide;
	border: none;
}

a {
	margin: 0px;
	padding-bottom: 2px;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	#color: #00599b;
	color: #00A7D1;
}

img {
	vertical-align: middle;
}

/*****************************************************************************
 * Header & footer styles
 *****************************************************************************/

.page_header {
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
	#background: #00599b;
	#background: #00A7D1;
	#color: #ffffff;
	color: #000000;
}

.control_bar {
	padding-top: 10px;
	padding-left: 5px;
	font-size: 12px;
	#background: #00599b;
	background: #00A7D1;
	color: #ffffff;
}

/*****************************************************************************
 * Editor/view styles
 *****************************************************************************/

.entry_header {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	text-align: right;
	vertical-align: middle;
	#background: #00599b;
	background: #00A7D1;
	color: #ffffff;
}

.entry_data {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	color: #000000;
}

.entry_data_hl {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	background: #ffffff;
	color: #000000;
}

.success_header {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

.success_message {
	font-size: 12px;
	color: #000000;
}

.failed_header {
	font-size: 16px;
	font-weight: bold;
	color: #B24A41;
}

.failed_message {
	font-size: 12px;
	color: #000000;
}

.button {
    min-width: 100px;
	margin-right: 5px;
	margin-top: 5px;
	#background: #00599b;
	background: #242424;
	color: #ffffff;
}

/*****************************************************************************
 * Week view styles
 *****************************************************************************/

.weekview_week_link {
	text-align: center;
	#background: #00599b;
	background: #00A7D1;
	color: #ffffff;
}

.weekview_current_week {
	text-align: center;
	font-weight: bold;
	#color: #00599b;
	color: #00A7D1;
	background: #ffffff;
}

.weekview_times {
	text-align: center;
	width: 100px;
	#background: #00599b;
	background: #00A7D1;
	color: #ffffff;
}

.weekview_dates {
	text-align: center;
	width: 100px;
	#color: #00599b;
	color: #00A7D1;
	background: #ffffff;
}

.weekview_weekdays {
	text-align: center;
	width: 100px;
	#background: #00599b;
	background: #00A7D1;
	color: #ffffff;
}

.weekview_free_slot {
	text-align: center;
	width: 100px;
	padding-bottom: 2px;
	#color: #00599b;
	color: #00A7D1;
	background: #ffffff;
}

.weekview_past_slot {
	text-align: center;
	width: 100px;
	text-decoration: line-through;
	#color: #00599b;
	color: #001f26;
	background: #ffffff;
}

.weekview_weekly_slot {
	text-align: center;
	width: 100px;
	#background: #ffdd99; // #d9c6a6;
	color: #000000;
	background: #00a7d1;
	color: #ffffff;
}

.weekview_own_slot {
	text-align: center;
	width: 100px;
	padding-bottom: 2px;
	#background: #00599b;
	background: #4bb100;
	color: #ffffff;
}

.weekview_other_slot {
	text-align: center;
	width: 100px;
	padding-bottom: 2px;
	#background: #ffdd99; //#d9c6a6;
	background: #00a7d1;
	color: #ffffff;
}
